// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #eb9c3c;

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-link styles
// ----------------------------------------------------------------------------
.widget-links { 

  background-color: $background-color;
  
  .title { 
    color: $title-color;
    margin-bottom: 35px;
  }

  .name {
    padding-left: 5px;
  }

  .link {
    font-size:30px;
  }

  img {
    width:65px;
    -webkit-border-radius:5px;
    margin-bottom:10px;
  }

  .link-container {
    display: none;
  }

  .more-info {
    color: $moreinfo-color;
  }
  
}
