<% content_for(:title) { "INNKU Dashboard" } %>
<script type='text/javascript'>
</script>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
    <div data-id="user_registration" data-view="List" style="background-color:#2c89a0;" 
      data-title='Registro de Usuarios'></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="imprimir_receta" data-view="Number" style="background-color:#46292a;" data-title="Imprimir Receta"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
    <div data-id="sharewall_click_count" data-view="List" style="background-color:#992222;" 
      data-title='Sharewall Avg. Link popularity' data-moreinfo='Based on the last 20 links'></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="stackoverflow_reputation" data-view="List" style="background-color:#777;" data-title='StackOverflow Reputation'> </div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="sharewall_links" data-view="Links" style="background-color:#66a266;" data-title="Sharewall links"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="tweets" data-view="Links" style="background-color:#00c5f9;" data-title="Awesome Tweets"></div>
      <i class="icon-twitter icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="aventones_confirmados" data-view="Number" style="background-color:#87d40c;" data-title="Aventones Confirmados"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="companias_contactadas" data-view="Number" style="background-color:#0F2323;" data-title="Companias Contactadas"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ir_a_comprar" data-view="Number" style="background-color:#2a2d33;" data-title="Compras Reserbus"></div>
    </li>
  </ul>

</div>
